/*_ or underscore indicates a partial file, like this would be imported */

.large-hero{
  position:relative;

  &__text-content {
    position: absolute;
    top:40%;
    transform:translateY(-50%);
    left:0;
    width:100%;
    text-align:center;
  }

  &__title {
    font-weight: 300;
    color:$mainBlue;
    margin:0;
    font-size:1.1rem;

    /*@media (min-width:530px){
      font-size:4.8rem;
    }*/ /*using mixins instead*/

    @mixin atSmall {
      font-size: 2rem;
    }

    @mixin atMedium{
      font-size: 3.2rem;
    }

    @mixin atLarge{
      font-size: 4.8rem;
    }

  }

  &__subtitle{
    font-weight: 300;
    color:$mainBlue;
    font-size:1.1rem;
    margin:0;

    @mixin atSmall {
      font-size:1.9rem;
    }
    @mixin atMedium {
      font-size:2.5rem;
    }
    @mixin atLarge {
      font-size:3.2rem;
    }
  }

  &__description{
    color:#fff;
    font-size:1.875rem;
    font-weight:100;
    text-shadow:2px 2px 0 rgba(0, 0, 0, .10);
    max-width:30rem;
    /*margin:auto;*/
    margin-left:auto;
    margin-right:auto;
  }
}
