.section-title{
  font-size: 2.55rem;
  font-weight:300;
  text-align: center;

  @mixin atSmall{
    font-size:3.75rem;
  }

  strong{
    font-weight: 500;
  }

  &--blue{
    color:$mainBlue
  }

  &__icon {
    display: block; /*will drop the text after it onto a new line*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;

    @mixin atSmall {
      position: relative;
      top: 10px;
      margin-right: .5rem;
      margin-left: 0;
      display: inline-block; /* so that on larger screens it won't drop the text onto a new line*/
      margin-bottom: 0;
    }
  }
}
